body {
	text-align: center;
	font-size: 18;
	background-image: url("background2.jpeg");
	background-size: cover;
}

h1 {
	font-family: 'Arvo', serif;
	text-align: left;
}

nav {
	border: 1px solid brown;
	font-family:  'Cinzel', serif;
}

p {
	font-size: 18px;
	text-align: left;
}

#abt {
	text-align: center;
	font-size: 25px;
	font-family: 'Marck Script', cursive;
}